@use '../mixins';

// WebShare guest pay page
html[data-csui-enabled].csui-theme.csui-webshare.csui-webshare-guest-pay {
    // Form resets
    .field {
        margin: 0;
        height: auto;
        width: 100%;
    }

    .field input {
        margin: 0;
        background-color: white;
        color: var(--chatt-color-text);
    }

    // Labels
    #Main_AccountPanel .label {
        color: white;
        font-weight: 600;
        margin-bottom: 0 !important;
        padding-left: 0;
        text-align: left;

        // Dynamically injected span around the "Enter the account number..." text
        span.csui-guestpay-label-text {
            @include mixins.section-prompt;
        }

        // Bring back these line breaks
        br:not(:first-of-type) {
            display: inline-block;
        }

        // Apply margin between text and field
        .field {
            margin-top: 0.25rem !important;
        }
    }

    .error_label {
        @include mixins.error-message;
    }

    // Button containers
    .demo_button_area {
        @include mixins.flex(column, 1.5rem);

        // Necessary to enumerate these margins
        margin-top: 2rem !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    // Buttons
    #Main_LoginButton {
        @include mixins.button(gold);
    }

    #Main_CancelButton {
        @include mixins.button(link);
    }
}
