@use '../mixins';

// WebShare login page
html[data-csui-enabled].csui-theme.csui-webshare.csui-webshare-login {
    // Form resets
    .field {
        margin: 0;
        height: auto;
        width: 100%;

        input {
            margin: 0;
            background-color: white;
            color: var(--chatt-color-text);
        }
    }

    // Labels
    .loginlabel {
        color: white;
        font-weight: 600;
        margin-bottom: 0.25rem;
        padding-left: 0;

        &:not(:first-of-type) {
            margin-top: 1rem;
        }
    }

    .error_label {
        @include mixins.error-message;

        // Hide empty and seemingly empty error labels
        &:not([style*='word-wrap: normal;']),
        &:has(#Main_BrowserLabel:empty) {
            display: none;
        }
    }

    // Button containers
    div[align='center']:not(#loginarea):has(input[type='submit']) {
        margin-top: 1.5rem;

        &:has(#Main_Login_LoginButton) {
            @include mixins.flex(column);
        }

        &:has(#Main_Login_ForgotButton) {
            @include mixins.flex;
        }
    }

    // Buttons
    #Main_Login_LoginButton {
        @include mixins.button(gold);
    }

    #Main_Login_GuestButton {
        @include mixins.button(secondary);
    }

    #Main_Login_ForgotButton,
    #Main_Login_NewUserButton {
        @include mixins.button(link);
    }
}
